<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mpc</key>
	<dict>
		<key>production</key>
		<dict>
			<key>loyaltyClubSlug</key>
			<string>torget-vest</string>
			<key>apiKey</key>
			<string>Q7bKtNzHqwDiboJEnphzz2piiTyh646VPwsYWar8</string>
			<key>host</key>
			<string>https://bpc-api.boostcom.no</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>loyaltyClubSlug</key>
			<string>torget-vest</string>
			<key>apiKey</key>
			<string>RH47zkkEPNceHWC9qLKjrAR1</string>
			<key>host</key>
			<string>https://bpc-api.dev.boostcom.no</string>
		</dict>
	</dict>
	<key>sentry</key>
	<dict>
		<key>production</key>
		<dict>
			<key>id</key>
			<string>https://f10ec2f2c99e4ebeb818f21e42317860@sentry.boostcom.no/677</string>
		</dict>
	</dict>
	<key>offers</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>Q7bKtNzHqwDiboJEnphzz2piiTyh646VPwsYWar8</string>
			<key>url</key>
			<string>https://bpc-api.boostcom.no/v3/torget-vest</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>RH47zkkEPNceHWC9qLKjrAR1</string>
			<key>url</key>
			<string>https://bpc-api.dev.boostcom.no/v3/infinity-mall</string>
		</dict>
	</dict>
	<key>custom_shops</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>template</string>
			<key>url</key>
			<string>https://s3.eu-central-1.amazonaws.com/geofencing-prod/infinity-mall-shops.json</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>template</string>
			<key>url</key>
			<string>https://s3.eu-central-1.amazonaws.com/geofencing-prod/infinity-mall-shops.json</string>
		</dict>
	</dict>
	<key>custom_opening_hours</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>template</string>
			<key>url</key>
			<string>https://s3.eu-central-1.amazonaws.com/geofencing-prod/infinity-mall-hours.json</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>template</string>
			<key>url</key>
			<string>https://s3.eu-central-1.amazonaws.com/geofencing-prod/infinity-mall-hours.json</string>
		</dict>
	</dict>
	<key>dmp</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>43fb93662966b8eb0c43ca21cea48f89</string>
			<key>url</key>
			<string>https://dmp.boostcom.no/api/1.0/mobile</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>75a47f4ced2d9d45c43b211e93095c3a</string>
			<key>url</key>
			<string>https://dmp.stg.boostcom.no/api/1.0/mobile</string>
		</dict>
	</dict>
	<key>facebook</key>
	<dict>
		<key>production</key>
		<dict>
			<key>facebookId</key>
			<string>989888798599720</string>
			<key>facebookClientToken</key>
			<string>6764702cebb192d4f8661cf9125ce22b</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>facebookId</key>
			<string>989888798599720</string>
			<key>facebookClientToken</key>
			<string>6764702cebb192d4f8661cf9125ce22b</string>
		</dict>
	</dict>
	<key>product</key>
	<string>ios</string>
	<key>scrapper</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>abfbbd3dccb7cd738edcb08cdb716271c10e805a</string>
			<key>url</key>
			<string>https://loyalty-api.boost.no/mobile</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>109a8f910395abb5868323067365ba3f6</string>
			<key>url</key>
			<string>https://loyalty-api.dev.boost.no/mobile</string>
		</dict>
	</dict>
	<key>vcs</key>
	<dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>109a8f910395abb5868323067365ba3f6</string>
			<key>url</key>
			<string>https://loyalty-api.dev.boost.no/mobile</string>
		</dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>abfbbd3dccb7cd738edcb08cdb716271c10e805a</string>
			<key>url</key>
			<string>https://loyalty-api.boost.no/mobile</string>
		</dict>
	</dict>
	<key>tbp</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>Q7bKtNzHqwDiboJEnphzz2piiTyh646VPwsYWar8</string>
			<key>url</key>
			<string>https://bpc-api.boostcom.no/api/v3/loyalty_clubs/torget-vest</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>RH47zkkEPNceHWC9qLKjrAR1</string>
			<key>url</key>
			<string>https://bpc-api.dev.boostcom.no/api/v3/loyalty_clubs/infinity-mall</string>
		</dict>
	</dict>
	<key>translations</key>
	<dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>ag4VxfJefQRqMq3HyjjZaRnq44UY</string>
			<key>url</key>
			<string>https://schema-translator.bstcm.no/loyalty_clubs/torget-vest</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>yK2gyAhExX8B</string>
			<key>url</key>
			<string>https://schema-translator.dev.bstcm.no/loyalty_clubs/infinity-mall</string>
		</dict>
	</dict>
	<key>loyalty</key>
	<dict>
		<key>staging</key>
		<dict>
			<key>apiKey</key>
			<string>109a8f910395abb5868323067365ba3f6</string>
			<key>url</key>
			<string>https://loyalty-api.dev.boost.no/mobile</string>
		</dict>
		<key>production</key>
		<dict>
			<key>apiKey</key>
			<string>abfbbd3dccb7cd738edcb08cdb716271c10e805a</string>
			<key>url</key>
			<string>https://loyalty-api.boost.no/mobile</string>
		</dict>
	</dict>
	<key>loco</key>
	<dict>
		<key>key</key>
		<string>bfsPwuYbIZ1GHGxMAejk5I9oWrgjs9Z-</string>
		<key>should_override_info_plist</key>
		<false/>
	</dict>
</dict>
</plist>
