<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>config</key>
		<dict>
			<key>html</key>
			<string></string>
			<key>script</key>
			<string></string>
			<key>url</key>
			<string>https://tgv.pwg.ai/home</string>
		</dict>
		<key>name</key>
		<string>hme</string>
		<key>texts</key>
		<array>
			<string>web.screen_title_home</string>
		</array>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>html</key>
			<string></string>
			<key>script</key>
			<string></string>
			<key>url</key>
			<string>https://www.torgetvest.no/</string>
		</dict>
		<key>name</key>
		<string>hpa</string>
		<key>texts</key>
		<array>
			<string>web.screen_title</string>
		</array>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>html</key>
			<string></string>
			<key>script</key>
			<string></string>
			<key>url</key>
			<string>https://www.torgetvest.no/trender</string>
			<key>internalNavigation</key>
			<true/>
		</dict>
		<key>name</key>
		<string>nws</string>
		<key>texts</key>
		<array>
			<string>web.screen_title_news</string>
		</array>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>html</key>
			<string></string>
			<key>script</key>
			<string></string>
			<key>url</key>
			<string>https://www.torgetvest.no/butikker?filter=all</string>
			<key>internalNavigation</key>
			<true/>
		</dict>
		<key>name</key>
		<string>shp</string>
		<key>texts</key>
		<array>
			<string>web.screen_title_shops</string>
		</array>
	</dict>
	<dict>
		<key>config</key>
		<dict>
			<key>html</key>
			<string></string>
			<key>script</key>
			<string></string>
			<key>url</key>
			<string>https://www.torgetvest.no/apningstider</string>
			<key>internalNavigation</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hrs</string>
		<key>texts</key>
		<array>
			<string>web.screen_title_openinghours</string>
		</array>
	</dict>
</array>
</plist>
