<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>areFavouritesEnabled</key>
	<false/>
	<key>formatterRegion</key>
	<string>NO</string>
	<key>isShopsImageViewEnabled</key>
	<true/>
	<key>phoneNumberFormat</key>
	<string>international</string>
	<key>texts</key>
	<array>
		<string>navigation.shops_title</string>
	</array>
</dict>
</plist>
