<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>backgroundColor</key>
		<string>#F1F3F3</string>
		<key>couponBackgroundColor</key>
		<string>#F1F3F3</string>
		<key>couponDescriptionTextColor</key>
		<string>#6B6B6B</string>
		<key>couponSubtitleTextColor</key>
		<string>#6B6B6B</string>
		<key>couponTitleTextColor</key>
		<string>#6B6B6B</string>
		<key>emptyStateTitleTextColor</key>
		<string>#6B6B6B</string>
		<key>fabBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>pageTabBackgroundColor</key>
		<string>#577A79</string>
		<key>pageTabIndicatorColor</key>
		<string>#1B3542</string>
		<key>pageTabTitleTextNormalColor</key>
		<string>#ffffff</string>
		<key>pageTabTitleTextSelectedColor</key>
		<string>#ffffff</string>
		<key>timerBackgroundColor</key>
		<string>#F3F4F4</string>
		<key>timerCountdownTextColor</key>
		<string>#FFFFFF</string>
		<key>timerExpirationTextColor</key>
		<string>#686868</string>
		<key>ribbonUsedColor</key>
		<string>#E2E2E2</string>
		<key>ribbonNormalColor</key>
		<string>#3D8E97</string>
		<key>previewRibbonTextColor</key>
		<string>#FFFFFF</string>
		<key>previewRibbonBackgroundColor</key>
		<string>#333333</string>
		<key>usedRibbonTextColor</key>
		<string>#FFFFFF</string>
		<key>usedRibbonBackgroundColor</key>
		<string>#7A7A7A</string>
		<key>indicatorColor</key>
		<string>#A2C3B9</string>
		<key>filterButtonBackgroundColor</key>
		<string>#E2E2E2</string>
		<key>filterButtonSelectedBackgroundColor</key>
		<string>#0093B2</string>
		<key>gridIconColor</key>
		<string>#E2E2E2</string>
		<key>selectedGridIconColor</key>
		<string>#333333</string>
		<key>listIconColor</key>
		<string>#E2E2E2</string>
		<key>selectedListIconColor</key>
		<string>#333333</string>
		<key>likeImageColor</key>
		<string>#333333</string>
		<key>dislikeImageColor</key>
		<string>#333333</string>
		<key>likesSelectedImageColor</key>
		<string>#333333</string>
		<key>likesUnselectedImageColor</key>
		<string>#E2E2E2</string>
	</dict>
	<key>texts</key>
	<array>
		<string>navigation.coupons_title</string>
	</array>
</dict>
</plist>
