<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>searchBarButtonTextColor</key>
		<string>#FFFFFF</string>
		<key>keyboardBarButtonTextColor</key>
		<string>#6B6B6B</string>
		<key>loaderFailureTintColor</key>
		<string>#6B6B6B</string>
		<key>loaderNormalTintColor</key>
		<string>#6B6B6B</string>
		<key>loaderSuccessTintColor</key>
		<string>#6B6B6B</string>
		<key>topBarBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>topBarTextColor</key>
		<string>#6B6B6B</string>
		<key>topBarTintColor</key>
		<string>#6B6B6B</string>
	</dict>
	<key>images</key>
	<array>
		<string>app_btnBack</string>
	</array>
	<key>texts</key>
	<dict/>
	<key>languages</key>
	<dict>
		<key>defaultLanguage</key>
		<string>no</string>
		<key>supportedLanguages</key>
		<array>
			<string>no</string>
		</array>
	</dict>
</dict>
</plist>
