<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>backgroundColor</key>
		<string>#F1F3F3</string>
		<key>pageIndicatorNormalColor</key>
		<string>#000000</string>
		<key>pageIndicatorSelectedColor</key>
		<string>#A2C3B9</string>
		<key>primaryActionButtonBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>primaryActionButtonTextColor</key>
		<string>#ffffff</string>
		<key>welcomePageTextColor</key>
		<string>#6B6B6B</string>
	</dict>
	<key>images</key>
	<array>
		<string>welcome_imgWelcomePage1</string>
		<string>welcome_imgWelcomePage2</string>
		<string>welcome_imgWelcomePage3</string>
	</array>
	<key>texts</key>
	<array>
		<string>welcome_welcomePageTitle1</string>
		<string>welcome_welcomePageTitle2</string>
		<string>welcome_welcomePageTitle3</string>
	</array>
</dict>
</plist>
