<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>backgroundColor</key>
		<string>#F1F3F3</string>
		<key>collectionItemDescriptionTextColor</key>
		<string>#6B6B6B</string>
		<key>collectionItemTitleTextColor</key>
		<string>#6B6B6B</string>
		<key>collectionItemBorderColor</key>
		<string></string>
		<key>emptyStateTitleTextColor</key>
		<string>#6B6B6B</string>
		<key>pageTabBackgroundColor</key>
		<string>#ffffff</string>
		<key>pageTabIndicatorColor</key>
		<string>#ffffff</string>
		<key>pageTabTitleTextNormalColor</key>
		<string>#ffffff</string>
		<key>pageTabTitleTextSelectedColor</key>
		<string>#ffffff</string>
	</dict>
	<key>config</key>
	<dict>
		<key>slug</key>
		<string>events</string>
	</dict>
	<key>name</key>
	<string>events</string>
	<key>texts</key>
	<array>
		<string>events_title</string>
	</array>
</dict>
</plist>
