<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isShopsImageViewEnabled</key>
	<true/>
	<key>colors</key>
	<dict>
		<key>filterBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>filterButtonColor</key>
		<string>#333333</string>
		<key>filters_backgroundColor</key>
		<string>#EDEDED</string>
		<key>filters_selectedBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>filters_textColor</key>
		<string>#4A4A4A</string>
		<key>filters_selectedTextColor</key>
		<string>#ffffff</string>
		<key>backgroundColor</key>
		<string>#F3F4F4</string>
		<key>collectionItemBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>collectionItemSubtitleTextColor</key>
		<string>#969696</string>
		<key>collectionItemTitleTextColor</key>
		<string>#0C0E13</string>
		<key>collectionSeparatorColor</key>
		<string>#E1E0E3</string>
		<key>emptyStateTitleTextColor</key>
		<string>#0C0E13</string>
		<key>searchBarBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>searchBarTintColor</key>
		<string>#A2C3B9</string>
		<key>searchBarBorderColor</key>
		<string></string>
	</dict>
	<key>areFavouritesEnabled</key>
	<false/>
	<key>formatterRegion</key>
	<string>NO</string>
	<key>phoneNumberFormat</key>
	<string>international</string>
	<key>texts</key>
	<array>
		<string>navigation.shops_title</string>
	</array>
</dict>
</plist>
