<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>isForceConsentsEnabled</key>
		<true/>
	</dict>
	<key>colors</key>
	<dict>
		<key>consentTitleColor</key>
		<string>#6B6B6B</string>
		<key>consentDescriptionColor</key>
		<string>#6B6B6B</string>
		<key>continueButtonBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>continueButtonTitleColor</key>
		<string>#FFFFFF</string>
		<key>cancelButtonBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>cancelButtonTitleColor</key>
		<string>#6B6B6B</string>
		<key>viewBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>consentsLogoOutsideTintColor</key>
		<string>#333333</string>
		<key>consentsLogoInsideTintColor</key>
		<string>#333333</string>
	</dict>
</dict>
</plist>
