<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>formFieldTintColor</key>
		<string>#6B6B6B</string>
		<key>backgroundColor</key>
		<string>#F1F3F3</string>
		<key>loginBackgroundColor</key>
		<string>#F1F3F3</string>
		<key>resetPasswordButtonTextColor</key>
		<string>#6B6B6B</string>
		<key>formFieldNormalColor</key>
		<string>#6B6B6B</string>
		<key>formFieldPlaceholderTextColor</key>
		<string>#8F989E</string>
		<key>formFieldSelectedColor</key>
		<string>#6B6B6B</string>
		<key>formFieldValueTextColor</key>
		<string>#6B6B6B</string>
		<key>loginButtonBackgroundColor</key>
		<string>#A2C3B9</string>
		<key>loginButtonTextColor</key>
		<string>#FFFFFF</string>
		<key>loginFormFieldBackgroundColor</key>
		<string>#ffffff</string>
		<key>loginFormFieldBorderColor</key>
		<string>#ffffff</string>
		<key>loginFormFieldNormalColor</key>
		<string>#6B6B6B</string>
		<key>loginFormFieldPlaceholderTextColor</key>
		<string>#4A4A4A</string>
		<key>loginFormFieldSelectedColor</key>
		<string>#6B6B6B</string>
		<key>loginFormFieldTintColor</key>
		<string>#6B6B6B</string>
		<key>loginFormFieldValueTextColor</key>
		<string>#6B6B6B</string>
		<key>loginHeaderTextColor</key>
		<string>#6B6B6B</string>
		<key>memberCardFooterBackgroundColor</key>
		<string></string>
		<key>memberCardFooterTextColor</key>
		<string>#6B6B6B</string>
		<key>memberCardSubtitleTextColor</key>
		<string>#000000</string>
		<key>memberCardTitleTextColor</key>
		<string>#000000</string>
		<key>sectionFooterTextColor</key>
		<string>#6B6B6B</string>
		<key>sectionHeaderTextColor</key>
		<string>#6B6B6B</string>
		<key>termsAndConditionsButtonTextColor</key>
		<string>#6B6B6B</string>
		<key>iconFormTintColor</key>
		<string>#6B6B6B</string>
	</dict>
	<key>texts</key>
	<array/>
</dict>
</plist>
