<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>backgroundColor</key>
		<string>#F3F4F4</string>
		<key>loginBackgroundColor</key>
		<string>#F3F4F4</string>
		<key>resetPasswordButtonTextColor</key>
		<string>#8F989E</string>
		<key>formFieldNormalColor</key>
		<string>#222222</string>
		<key>formFieldPlaceholderTextColor</key>
		<string>#8F989E</string>
		<key>formFieldSelectedColor</key>
		<string>#222222</string>
		<key>formFieldTintColor</key>
		<string>#222222</string>
		<key>formFieldValueTextColor</key>
		<string>#222222</string>
		<key>loginButtonBackgroundColor</key>
		<string>#DDBE85</string>
		<key>loginButtonTextColor</key>
		<string>#FFFFFF</string>
		<key>loginFormFieldBackgroundColor</key>
		<string>#ffffff</string>
		<key>loginFormFieldBorderColor</key>
		<string>#ffffff</string>
		<key>loginFormFieldNormalColor</key>
		<string>#146FB7</string>
		<key>loginFormFieldPlaceholderTextColor</key>
		<string>#4A4A4A</string>
		<key>loginFormFieldSelectedColor</key>
		<string>#000000</string>
		<key>loginFormFieldTintColor</key>
		<string>#000000</string>
		<key>loginFormFieldValueTextColor</key>
		<string>#000000</string>
		<key>loginHeaderTextColor</key>
		<string>#FFFFFF</string>
		<key>memberCardFooterBackgroundColor</key>
		<string>#577A79</string>
		<key>memberCardFooterTextColor</key>
		<string>#FFFFFF</string>
		<key>memberCardSubtitleTextColor</key>
		<string>#ffffff</string>
		<key>memberCardTitleTextColor</key>
		<string>#ffffff</string>
		<key>sectionFooterTextColor</key>
		<string>#232222</string>
		<key>sectionHeaderTextColor</key>
		<string>#232222</string>
		<key>termsAndConditionsButtonTextColor</key>
		<string>#232222</string>
		<key>iconFormTintColor</key>
		<string></string>
	</dict>
	<key>texts</key>
	<array/>
</dict>
</plist>
