<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>navigationItemBackgroundNormalColor</key>
		<string></string>
		<key>navigationItemBackgroundSelectedColor</key>
		<string>#ffffff</string>
		<key>navigationItemIconNormalColor</key>
		<string>#CBAF7B</string>
		<key>navigationItemIconSelectedColor</key>
		<string>#CBAF7B</string>
		<key>navigationItemTextNormalColor</key>
		<string>#CBAF7B</string>
		<key>navigationItemTextSelectedColor</key>
		<string>#CBAF7B</string>
		<key>navigationItemSeparatingLineColor</key>
		<string></string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>component</key>
			<string>articles_news</string>
			<key>image</key>
			<string>navigation_imgNavigationItemArticles</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>art</string>
			<key>slug</key>
			<string>articles</string>
			<key>title</key>
			<string>navigation.articles_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>offers</string>
			<key>image</key>
			<string>navigation_imgNavigationItemCoupons</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>ofr</string>
			<key>slug</key>
			<string>offers</string>
			<key>title</key>
			<string>navigation.offers_title</string>
			<key>registeredSlugs</key>
			<array>
				<string>cpn</string>
			</array>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>shops</string>
			<key>image</key>
			<string>navigation_imgNavigationItemShops</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>shp</string>
			<key>slug</key>
			<string>shops</string>
			<key>title</key>
			<string>navigation.shops_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>openingHours</string>
			<key>image</key>
			<string>navigation_imgNavigationItemOpeningHours</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>hrs</string>
			<key>slug</key>
			<string>openingHours</string>
			<key>title</key>
			<string>navigation.openinghours_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>authentication</string>
			<key>image</key>
			<string>navigation_imgNavigationItemLogin</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>lgn</string>
			<key>slug</key>
			<string>authentication</string>
			<key>title</key>
			<string>navigation.login_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>memberCard</string>
			<key>image</key>
			<string>navigation_imgNavigationItemMemberCard</string>
			<key>requireAuthentication</key>
			<true/>
			<key>screenName</key>
			<string>mbc</string>
			<key>slug</key>
			<string>memberCard</string>
			<key>title</key>
			<string>navigation.membercard_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>registeredSlugs</key>
			<array>
				<string>vrm</string>
				<string>prl</string>
				<string>con</string>
			</array>
			<key>component</key>
			<string>profile</string>
			<key>image</key>
			<string>navigation_imgNavigationItemProfile</string>
			<key>requireAuthentication</key>
			<true/>
			<key>screenName</key>
			<string>prl</string>
			<key>slug</key>
			<string>profile</string>
			<key>title</key>
			<string>navigation.profile_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>authenticated</string>
			</array>
		</dict>
		<dict>
			<key>component</key>
			<string>web_homepage</string>
			<key>image</key>
			<string>navigation_imgNavigationItemHomePage</string>
			<key>requireAuthentication</key>
			<false/>
			<key>screenName</key>
			<string>hpa</string>
			<key>slug</key>
			<string>web</string>
			<key>title</key>
			<string>navigation.homepage_title</string>
			<key>visibilityScopes</key>
			<array>
				<string>guest</string>
				<string>authenticated</string>
			</array>
		</dict>
	</array>
	<key>texts</key>
	<dict/>
	<key>config</key>
	<dict>
		<key>defaultScreenName</key>
		<string>ofr</string>
		<key>defaultScreenNameForNonLoggedUsers</key>
		<string>ofr</string>
	</dict>
</dict>
</plist>
