<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colors</key>
		<dict>
			<key>backgroundColor</key>
			<string>#F3F4F4</string>
			<key>collectionItemDescriptionTextColor</key>
			<string>#000000</string>
			<key>collectionItemTitleTextColor</key>
			<string>#0C0E13</string>
			<key>collectionItemBorderColor</key>
			<string>#DCDCDC</string>
			<key>emptyStateTitleTextColor</key>
			<string>#0C0E13</string>
			<key>pageTabBackgroundColor</key>
			<string>#ffffff</string>
			<key>pageTabIndicatorColor</key>
			<string>#ffffff</string>
			<key>pageTabTitleTextNormalColor</key>
			<string>#ffffff</string>
			<key>pageTabTitleTextSelectedColor</key>
			<string>#ffffff</string>
		</dict>
		<key>config</key>
		<dict>
			<key>slug</key>
			<string>news</string>
		</dict>
		<key>name</key>
		<string>articles_news</string>
		<key>texts</key>
		<array/>
	</dict>
</array>
</plist>
